.track-offline {
    font-style: italic;
    color: #999999;
}

.track-album-title {
    font-style: italic;
}

// TODO figure out how to theme Semantic UI to avoid !important declarations.
table.now-playing {
    border: 0px !important;

    td {
        padding: 0 !important;
    }
}

.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
    background-color: rgb(224, 225, 226) !important;
    color: #ff0000 !important;
}